[defaults]
inventory = ~/.powerhouse/ansible/inventory.ini
deprecation_warnings = True
inject_facts_as_vars = False
roles_path = roles
host_key_checking = False

[privilege_escalation]
become_method = sudo
become_exe = /usr/local/bin/sudo
